.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiTabs-flexContainer {
  height: 95px;
}

.MuiButtonBase-root {
  font-size: 1.25rem;
}

.nav_logo-wrap {
  height: auto;
}

.home-content-stats_item {
  display: flex;
  position: relative;
}

.home-content-stats_item img {
  width: 50%;
}

.home-content-stats_item div {
  width: 50%;
  position: relative;
  top: 45px;
  text-align: center;
}

.footer-wrap {
  height: 300px;
  width: 100%;
  background-color: #232323;
  text-align: center; 
}

.footer-wrap h3 {
  text-transform: uppercase;
}
